<section class="py-5">
  <div class="container-fluid">
    <h2 class="mb-3 products">
      Kiemelt termékek({{ (currentCategory$ | async)?.name }}):
    </h2>
    <div class="row justify-content-center d-none d-md-flex">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl mb-3"
        *ngFor="let product of products$ | async | featured"
      >
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>

  <app-cards-carousel
    [products]="products$ | async | featured"
    [carouselId]="'car1'"
  ></app-cards-carousel>
</section>
<section class="col-12 py-5">
  <div class="container-fluid">
    <app-product-list [productList]="products$ | async"></app-product-list>
  </div>
</section>
