


// *** FONTS *** //



// *** FONT SIZES ***//
$font-xs: 0.6rem;
$font-sm: 0.9rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xlg: 2.5rem;

// *** COLORS *** //
$nav: #fdcc52;




// *** IMAGES *** //
$logo: "/assets/image/logo.jpg";
$header_background: "/assets/image/Scythe_bg.jpg";
