.col-lg-five {
  @media only screen and (min-width: 960px) {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

.search-label {
  width: 200% !important;

  @media only screen and (max-width: 640px) {
    width: 80vw !important;
  }
}
