<div *ngIf="product" class="col-12 h-100 card-product">
  <div class="card-product__img-container">
    <img [src]="product.image" class="card-product__img" [alt]="product.name" />
  </div>
  <div class="card-product__body h-90">
    <h4 class="card-product__title">{{ product.name }}</h4>
    <p class="card-product__descript">{{ product.description | textSlicer }}</p>
    <div class="card-product__infos">
      <p class="card-product__info m-0">
        <i class="fa fa-user"></i>
        {{ product.age }}
      </p>
      <p class="card-product__info m-0">
        <i class="fa fa-clock-o"></i>
        {{ product.playingtime }}
      </p>
      <p class="card-product__info m-0">
        <i class="fa fa-users"></i>
        {{ product.players }}
      </p>
    </div>
    <p class="card-product__price">{{ product.price }}Ft</p>
    <button class="card-product__btn mt-auto">
      <i class="fa fa-cart-plus"></i>
      Kosárba
    </button>
  </div>
</div>
