
.cont {
  background-color: #525252;
}

.bg{
  background-image: url("../assets/image/dice.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 1700px;
  margin: 0 auto;

.bg {
  background-image: url("../assets/image/dice.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  flex: 1;

}
