<ng-container *ngIf="list">
  <div class="container-fluid">
    {{keys}}
    <table class="table table-responsive table-striped mt-5">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Featured</th>
          <th>Players</th>
          <th>Playingtime</th>
          <th>Age</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of list">

          <td *ngFor="let key of keys">
            <input [name]="key" [disabled]="key==='id'" [(ngModel)]="list[key]" type="text" class="form-control">
          </td>
          <td class="btn-group">
            <button class="btn btn-info" (click)="editItem(list)"><i class="fa fa-save"></i></button>
            <button class="btn btn-danger" (click)="deleteItem(list)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-success" (click)="undo()">
              <i class="fa fa-undo"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
