<nav class="navbar navbar-expand-lg sticky-top menu">
  <a class="menu__brand" routerLink="/">
    {{ appName }}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon  menu__btn">
      <i class="fa fa-bars"></i>
    </span>
  </button>

  <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li
        *ngFor="let item of menuItems"
        class="nav-item  menu__link ml-5"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link menu__link" [routerLink]="item.link">{{ item.text }}</a>
      </li>
    </ul>
  </div>
</nav>
