.carousel .carousel-controls {
  position: absolute !important;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2 !important;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}
.carousel:hover .carousel-controls {
  opacity: 1;
}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  background-color: steelblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.carousel .carousel-inner {
  z-index: 1 !important;
}
