@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Ubuntu:wght@300;500&display=swap');

//font-family: 'Road Rage', cursive;
//font-family: 'Ubuntu', sans-serif;

// *** Fonts *** //
$onsale_font: 'Road Rage', cursive;
$header_font: 'Ubuntu', sans-serif;

// *** FONT SIZES ***//
$font-xs: 0.6rem;
$font-sm: 0.9rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xlg: 2.5rem;

// *** COLORS *** //
